/* Common style */
.man01 figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	text-align: center;
	cursor: pointer;
}

.man01 figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
}

.man01 figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    
    @include respond-to($phone){
        padding: 1em;}
}

.man01 figure figcaption::before,
.man01 figure figcaption::after {
	pointer-events: none;
}

.man01 figure figcaption,
.man01 figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.man01 figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.man01 figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.man01 figure h2 span {
	font-weight: 800;
}

.man01 a{
    text-decoration: none;
    color:$color-grey;
}

.man01 figure p {
	letter-spacing: 1px;
	font-size: 0.75em;
    padding: 8% 5%;
    border: 1px solid $color-lightgrey;
    margin-bottom: 10px;
}

/* Individual effects */


/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12); 
}

figure.effect-chico:hover img {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	background: white;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    
     @include respond-to($phone){   
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
    }
    
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
	padding: 20% 0 20px 0;
}

figure.effect-chico p {
	margin: 0 auto;
	max-width: 200px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
    margin-bottom: 10px;
}


figure.effect-chico p:hover{background-color: $color-lightgrey;}

figure.effect-chico .pad {
	padding: 15% 5% 0 ;
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure p{
    margin-bottom: 10px;
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.man01 figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}


