/*  
* Rating styles
 */
.rating {
    width: 50%;
    font-size: 45px;
    overflow:hidden;
}
.rating a {
    float:right;
    position: relative;
    top:-20px;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    
}
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a	{
    color: orange;
    cursor: pointer;
}
.rating2 {
    direction: rtl;
}

.svg-inline--fa.fa-w-18 {
    width: 0.35em;
}