/* HEADER NAVBAR */

/*
---- Basic Styling
*/

* {
  box-sizing: border-box;
}

header{
    margin-bottom: 4%;
    margin-top: 2%;
    @include respond-to($phone){
        padding: 0 10px;
        padding-bottom: 48%;
    }
    @include respond-to($TabP){padding: 0 10px;}
}

header > p{
    width: 70%;
    font-size: 1.5em;
    line-height: 1.5em;
    @include respond-to($phone){
        font-size: 0.8em;
        width: 100%;
        padding: 10% 15%;
        float: right;
    }
}
















